[Unit]
Description = jupyter-notebook

[Service]
ExecStart = /home/vagrant/pyvenv{{python_ver|replace('.', '')}}/bin/jupyter-notebook --ip=0.0.0.0 --port=8888 --no-browser --notebook-dir=/home/vagrant/sync
Restart = always
Type = simple
User = vagrant
Group = vagrant

[Install]
WantedBy = multi-user.target
